In [42]:
%pip install -Uq upgini catboost

In [43]:
from os.path import exists
import pandas as pd

df_path = "Crop_recommendation.csv" if exists("Crop_recommendation.csv") else "https://github.com/ashllxyy/TRINIT-TrichyWaale-ML03/raw/main/Crop_recommendation.csv"
df = pd.read_csv(df_path, on_bad_lines = 'skip')
df = df.sample(n = 2_000, random_state=0)

df["N"] = df["N"].astype(str)
df["P"] = df["P"].astype(str)
df["K"] = df["K"].astype(str)
df["temperature"] = df["temperature"].astype(str)
df["humidity"] = df["humidity"].astype(str)
df["ph"] = df["ph"].astype(str)
df["rainfall"] = df["rainfall"].astype(str)

df.head()

,N,P,K,temperature,humidity,ph,rainfall,label
1320,105,14,50,26.2148837,87.68839820000002,6.419052193,59.65590798,watermelon
1367,91,12,46,24.64458469,85.49938185,6.343942518,48.31219031,watermelon
1291,14,121,203,9.724457611,83.74765639,6.1586894060000015,74.46411148,grapes
264,52,73,79,17.25769499,18.74943955,7.840339388999999,94.00287214,chickpea
728,32,66,17,34.9466155,65.26774011,7.162357641,70.1415139,blackgram

In [44]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df["label"] = label_encoder.fit_transform(df["label"])
df.head()

,N,P,K,temperature,humidity,ph,rainfall,label
1320,105,14,50,26.2148837,87.68839820000002,6.419052193,59.65590798,21
1367,91,12,46,24.64458469,85.49938185,6.343942518,48.31219031,21
1291,14,121,203,9.724457611,83.74765639,6.1586894060000015,74.46411148,7
264,52,73,79,17.25769499,18.74943955,7.840339388999999,94.00287214,3
728,32,66,17,34.9466155,65.26774011,7.162357641,70.1415139,2

In [45]:
train = df[df["temperature"] < "22.45145981"]
test = df[df["temperature"] >= "22.45145981"]

In [46]:
train_features = train.drop(columns=["label"])
train_target = train["label"]
test_features = train.drop(columns=["label"])
test_target = train["label"]

In [47]:
from catboost import CatBoostRegressor
from catboost.utils import eval_metric

model = CatBoostRegressor(verbose = False, allow_writing_files = False, random_state = 0)

In [48]:
model.fit(train_features, train_target)
preds = model.predict(test_features)
eval_metric(test_target.values, preds, "SMAPE")

[16.792186870201345]