In [ ]:
%pip install -Uq upgini catboost

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.3/99.3 KB 4.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 11.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 70.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 109.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 94.2 MB/s eta 0:00:00

In [20]:
from os.path import exists
import pandas as pd

df_path = "Crop_recommendation.csv" if exists("Crop_recommendation.csv") else "https://github.com/ashllxyy/TRINIT-TrichyWaale-ML03/raw/main/Crop_recommendation.csv"
df = pd.read_csv(df_path, on_bad_lines = 'skip')
df = df.sample(n = 2_000, random_state=0)

df["temperature"] = df["temperature"].astype(str)
df["humidity"] = df["humidity"].astype(str)
df.head()

,N,P,K,temperature,humidity,ph,rainfall,label
1320,105,14,50,26.2148837,87.68839820000002,6.419052,59.655908,watermelon
1367,91,12,46,24.64458469,85.49938185,6.343943,48.312190,watermelon
1291,14,121,203,9.724457611,83.74765639,6.158689,74.464111,grapes
264,52,73,79,17.25769499,18.74943955,7.840339,94.002872,chickpea
728,32,66,17,34.9466155,65.26774011,7.162358,70.141514,blackgram

In [23]:
train = df[df["temperature"] < "22.45145981"]
test = df[df["temperature"] >= "22.45145981"]

In [25]:
train_features = train.drop(columns=["label"])
train_target = train["sales"]
test_features = train.drop(columns=["label"])
test_target = train["sales"]

KeyError: ignored